.navigation-links1-navlink5 {
    color: #000000;
    font-size: 20px;
    margin-left: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-unit);
    text-decoration: none;
  }
  .navigation-links1-navlink6 {
    color: #000000;
    font-size: 20px;
    margin-left: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-unit);
    text-decoration: none;
  }
  .navigation-links1-navlink7 {
    color: #000000;
    font-size: 20px;
    margin-left: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-unit);
    text-decoration: none;
  }
  .navigation-links1-navlink8 {
    color: #000000;
    font-size: 20px;
    margin-left: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-unit);
    text-decoration: none;
  }
  .navigation-links1-navlink9 {
    color: #000000;
    font-size: 20px;
    margin-left: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-unit);
    text-decoration: none;
  }
  